body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
}

#box {
    width: 200px;
    height: 100px;
    background-color:lightcyan;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

}
.hidden {
    display:none
}